.App {
  width: 90%;
  height: 90vh;
  background-color: #f8f9fa;
  margin: 50px auto 0;
  display: flex;
  -webkit-box-shadow: 1px 1px 23px 14px rgba(230, 230, 230, 1);
  -moz-box-shadow: 1px 1px 23px 14px rgba(230, 230, 230, 1);
  box-shadow: 1px 1px 23px 14px rgba(230, 230, 230, 1);
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 238, 238);
  width: 35%;
}

.chat {
  width: 65%;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  background-color: #ededed;
  height: 100px;
}

.chatlist {
  flex: 1;
  background-color: white;
}

.sidebar-header-top {
  height: 55%;
}

.sidebar-header-input {
  height: 45%;
  background-color: #ffffff75;
}
