.App {
  width: 90%;
  height: 90vh;
  background-color: #f8f9fa;
  margin: 50px auto 0;
  display: flex;
  -webkit-box-shadow: 1px 1px 23px 14px rgba(230, 230, 230, 1);
  -moz-box-shadow: 1px 1px 23px 14px rgba(230, 230, 230, 1);
  box-shadow: 1px 1px 23px 14px rgba(230, 230, 230, 1);
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 238, 238);
  width: 35%;
}

.chat {
  width: 65%;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  background-color: #ededed00;
  height: 120px;
}

.chatlist {
  flex: 1;
  background-color: white;
}

.sidebar-header-top {
  display: flex;
  flex-direction: row;
  height: 60%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
}

.icons-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
}

.MyCustomButton:hover {
  color: rgba(19, 138, 19, 0.603) !important;
}

.sidebar-header-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  background-color: #ffffff4d;
}

.sidebar-header-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
}

.sidebar-header-input input {
  border: none;
  outline: none;
  width: 70%;
}
