.App {
  width: 90%;
  height: 90vh;
  background-color: #f8f9fa;
  margin: 50px auto 0;
  display: flex;
}

p {
  margin: 0;
}

.card {
  -webkit-box-shadow: 1px 1px 23px 14px rgba(230, 230, 230, 1);
  -moz-box-shadow: 1px 1px 23px 14px rgba(230, 230, 230, 1);
  box-shadow: 1px 1px 23px 14px rgba(230, 230, 230, 1);
}

/* -------------------------SIDEBAR-------------------------- */

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 238, 238);
  width: 35%;
}

/* -------------------------SIDEBAR-HEADER-------------------------- */

.sidebar-header {
  display: flex;
  flex-direction: column;
  height: 120px;
}

.sidebar-header-top {
  display: flex;
  height: 55%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
}

.icons-box {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.MyCustomButton:hover {
  color: rgba(19, 138, 19, 0.603) !important;
}

.sidebar-header-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45%;
  background-color: #ffffff4d;
}

/* -------------------------SIDEBAR-INPUT-------------------------- */

.sidebar-header-input {
  display: flex;
  justify-content: space-between;
  width: 90%;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
}

.sidebar-header-input input {
  border: none;
  outline: none;
  width: 70%;
}

/* -------------------------SIDEBAR-CHATLIST-------------------------- */

.chatlist {
  flex: 1;
  background-color: white;
}

.chat-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 50px;
  padding: 10px 5px;
  border-bottom: 1px solid rgba(202, 198, 198, 0.651);
}

.chat-box:hover {
  background-color: rgb(240, 238, 238);
}

.chat-box-info {
  display: flex;
  width: 75%;
}

.avatar {
  width: 20%;
}

.chat-box-left {
  width: 80%;
}

.chat-box-right {
  width: 20%;
}

.chat-box-name {
  font-size: 18px;
  font-weight: bold;
}

.chat-box-message {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.last-seen {
  font-size: 12px;
  color: gray;
  text-align: right;
}

/* -------------------------CHAT-SCREEN-------------------------- */

.chat-screen {
  display: flex;
  flex-direction: column;
  width: 65%;
  background-color: rgb(240, 238, 238);
}

.no-chat {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65%;
}

/* -------------------------CHAT-HEADER-------------------------- */

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 66px;
  padding: 0 10px;
  border-left: 1px solid rgb(216, 216, 216);
}

.room-info {
  display: flex;
  align-items: center;
}

.room-name {
  margin-left: 10px;
  font-size: 20px;
}

/* -------------------------CHAT-BODY-------------------------- */

.chat-body {
  flex: 1;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  padding: 40px 20px;
}

/* -------------------------CHAT-MESSAGE-BOX-------------------------- */

.message-box {
  background-color: white;
  padding: 10px 20px;
  margin-bottom: 30px;
  border-radius: 20px;
  position: relative;
  width: fit-content;
}

.message-box-receiver {
  background-color: rgb(188, 255, 144);
  margin-left: auto;
}

.message-sender {
  position: absolute;
  top: -20px;
  font-size: 14px;
  font-weight: bold;
}

.message-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-text {
  width: 80%;
}

.message-timestamp {
  width: 10%;
  font-size: 10px;
  color: gray;
  align-self: flex-end;
  margin-left: 10px;
}

/* -------------------------CHAT-FOOTER-------------------------- */

.chat-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  padding: 0 10px;
}

.footer-form {
  flex: 1;
}

.footer-btn {
  display: none;
}

.footer-input {
  width: 90%;
  height: 20px;
  background-color: white;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  overflow: hidden;
  resize: none;
}
